.layout{
  position: fixed;
  right: 300px;
}

.title{
  font-family: Verdana,sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -1px;
  display: block;
  font-weight: bold;
  text-align: left;
}

.price{
  font-family: Verdana,sans-serif;
  font-size: 32px;
  letter-spacing: -1.5px;
  font-weight: bold;
  text-align: left;
}

.article{
  color: #000;
  font-size: 11px;
  line-height: 2;
  font-family: verdana;
}

.review{
  letter-spacing: normal;
  color: #3399FD;
  font-size: 11px;
  line-height: 35px;
}

.review1{
  letter-spacing: normal;
  color: black;
  font-size: 11px;
  line-height: 35px;
}

.reviewLayout{
  display: flex;
  justify-content: space-around;
}

.button1{
  display: block;
  border-radius: 5px;
  background: #a2bfe6;
  padding: 0px; 
  width: 420px;
  height: 46px; 
  font-size:12px;
  line-height:1px;
}

.button2{
  display: block;
  border-radius: 5px;
  background:#cdcdcd;
  padding: 0px; 
  width: 420px;
  height: 46px;
  font-size:12px;
  line-height:1px;
}

.button3{
  display: block;
  border-radius: 5px;
  background:#ffc9ae;
  padding: 17px; 
  width: 420px;
  height: 46px;
  font-size:12px;
  line-height:1px;
}

.star{
  font-size: 23px;
}